.page-template-company {
	
	#about-our-mission {
		padding-top: 5.6em;
		padding-bottom: 5.2em;
		display: flex;
		flex-wrap: nowrap;
		
		#about-our-mission-title-wrap {
			margin-right: 6.15em;
			    
			h2 {
				margin-top: 0.65em;
			}
		}
		
		h3 {
			max-width: 650px;
		}
			
		#about-our-mission-title-wrap {
			position: relative;
			border-radius: 100%;
			min-width: 204px;
			min-height: 204px;
			max-width: 204px;
			min-height: 204px;
			display: flex;
			justify-content: center;
			align-items: center;
			
			span {
				position: absolute;
				display: inline-block;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				
			&#about-title-line-blue {
				transform: translateX(-4px);
				
			}
			
			&#about-title-line-gray {
				transform: translateX(4px);
			}
				
			}
			
		}
	
	}
	
	
	#our-vision {
		position: relative;
		
		p {
			padding-right: 7.5em
		}
		
		.pixel-grid {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			z-index: 2;
		}
	}	

	#core-values {
		padding-top: 1.25em;
		padding-bottom: 4.6em;
		
		h2 {
			padding-top: 0.57em;
			padding-bottom: 1.35em;
		}
		
		button.hide-value-orbit.no-style-button {
		    position: absolute;
		    top: 2px;
		    right: 0;
		}
		
		.show-for-orbit {
			display: block;
			transform: scaleY(1);
			transition: $transition;
			
		&.hidden {
			transform: scaleY(0);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			position: absolute;
		}
		
		}
		
		.hide-for-orbit {
			transform: scaleY(1);
			transition: $transition;
		
		&.hidden {
			transform: scaleY(0);
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			position: absolute;
		}	
		
		}
		
		.orbit {
			
			.orbit-wrapper {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				margin: auto;
				opacity: 0;
				transition: $transition;
				
			&.orbit-shown {
				position: relative;
				opacity: 1;
				transform: scale(1) !important;
			}
				
			
				.orbit-controls {
					
					button {
						
					&:hover {
						background: transparent;
					}
					
						.vm-arrow-wrap {
							max-width: 43px;
						}	
					
					}
					
				}
			
			}
				
			#value-orbit-dot-nav {
				display: none;
				padding-bottom: 1.6em;
				
				button {
					display: inline-block;
					width: 15px;
					height: 15px;
					margin: 0 4px;
					border-radius: 100%;
					background-color: #fff;
					border: 2px solid #D7D5D5;
				
				&.is-active {
					background-color: $sky-blue;
					border-color: $sky-blue;
				}
				
				}
				
			}
			
			
			
			
			
		
			#values-wrap.orbit-bullets {
				
				button.single-value {
					cursor: pointer;
					margin-bottom: 1.5em;
					background-color: transparent;
					height: auto;
					width: auto;
					margin: 0;
					
					h3 {
						padding-top: 0.85em;
					}
					
				}
				
			}
		
		}
	}	
	
	section#careers-button {
		display: none;
    		margin-top: -6em;
	}
	
	.pixel-set.collage-pixel-set.text-center {
		margin-left: 10%;
		width: 50px;
		height: 50px;
		
		span {
			width: 25px;
			height: 25px;
		}
	}
	
	#company-culture {
		
		#culture-collage {
			min-height: 505px;
			min-width: 58.33333%;
			position: relative;
			
			.collage-element {
				position: absolute;
				
				&#cc-collage-img-1 {
					max-width: 230px;
					top: 8%;
					left: 31%;
				}
				
				&#blue-square {
					width: 230px;
					height: 228px;
					top: 9.8%;
					left: 31%;
					background-color: $dark-blue;
					transform: translateX(30px) translateY(30px);
				}
				
				&#white-square {
					background: #fff;
					width: 102px;
					height: 157px;
					top: 14%;
					left: 23%;
					box-shadow: 0 15px 30px 0 rgba(0,0,0,.2);
				}
				
				&#cc-collage-img-2 {
					max-width: 200px;
					bottom: 18%;
					left: 0;
				}
				
				&#cc-collage-img-3 {
					max-width: 244px;
					bottom: 8%;
					right: 15%;
				}
				
				&#gray-square {
					width: 289px;
				    height: 129px;
				    top: 30%;
				    left: 8%;
				    background-color: #eff3f1;
				}
				
				&#top-pixel-grid {
					right: 283px;
				}
				
				&#bottom-pixel-grid {
				    bottom: 52%;
				    right: 59%;
				}
				
				&.blue-pipe {
					height: 3px;
					background-color: $sky-blue;
					
					&#top-blue-pipe {
						width: 84px;
					    top: 18%;
						left: 9%;
					}

					&#bottom-blue-pipe {
						width: 32px;
					    bottom: 24%;
						left: 35%;
					}
					
				}
					
			}
			
		}
		
	}
	
	
}

















