#page-top {
	padding-top: 240px;
/*
    min-height: 37vw;
    max-height: 37vw;
*/
    min-height: 483px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    
    img#header-left-fins {
	    position: absolute;
	    top: 15%;
	    top: 17vw;
    }
    
    img#header-right-fins {
	    right: 0;
	    bottom: -80px;
	    position: absolute;
	    z-index: 2;
    }
	
	#page-top-image {
		position: absolute;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    width: 64%;
	    
	    .page-top-mask {
		    position: absolute;
		    top: 0;
		    right: 0;
		    bottom: 0;
		    left: 0;
		    
		    &#page-top-blue-mask {
			    background-color: $sky-blue;
			    opacity: 0.8;
		    }
		    
			&#page-top-black-mask {
			    background-color: #000;
			    opacity: 0.6;
		    }
		    
	    }
	    
	    .hero-curve {
	    		position: absolute;
	    			width: calc(100% + 10px);
			    max-width: none;
			    bottom: -1px;
			    left: -2px;
		    &#home-hero-curve {
			    width: calc(100% + 10px);
			    max-width: none;
			    bottom: 0;
			    left: -10px;
			}
		
		}
	    
	}
	
	.row {
		width: 100%;
		position: relative;
	}
	
	.hero-content-half {
		position: relative;
		height: 100%;
		
		> h1 {
			margin-bottom: 0.15em;
		}
		
		img {
			width: 31vw;
		    max-width: 429px;
		    position: absolute;
		    z-index: 6;
		    top: 0;
		    left: 0;
		    right: 0;
		    bottom: 0;
		    margin: auto;
		}
		
		&.top-heading {
			max-width: 100%;
			
			@include breakpoint (medium) {
				max-width: 46%;
			}
			
			
			@media screen and (min-width: 1100px) {
				max-width: 40%;
			}
			
		}
			
	}

}

.home {
	
	#page-top {
	    min-height: 46vw;
		max-height: 46vw;
		
		.hero-content-half {
			position: relative;
			height: 100%;
		
			> h1 {
				margin-bottom: 2.3125rem;
			}
		}		
	}
	
}

.section-hero {
    
    &.has-background {
       
    }
 
    .background-image {        
        background-size: cover;
        position: relative;
        
        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(270deg, rgba(#64A70B, .8) 0%, rgba(#046A38, .8) 100%);
        }
    }     
}





